*{
    margin:0px;
    padding:0px;
}
#header{
    
    margin-left:0%;
    
    width:100%;
    background:linear-gradient(#7b4397,#dc2430);
    height:33%;
    color:white;
    margin-top:-1%;
}
.header1{
    float:left; font-size:340%;font-style:oblique;
}
.header2{
    margin-left:-10%; font-size:190%;font-style:italic;
}
.header3{
    float:right;margin-right:2%; font-size:190%; font-style:italic;
}


#header ul{
    list-style:none;
     margin-top:10px;
   
}
#header ul li{
    background-color:purple;
    border:2px solid;
    width:180px;
    height:35px;
    text-align:center;
    line-height:35px;
    float:left;
    font-size:120%;
    padding-right:80px;
    font-style:oblique;
    border-radius:40px;
    position:relative;
     padding:10px;
    font-style:oblique;
    margin-top:5px;
    
}
#header ul li a{
    text-decoration:none;
    color:white;
    display:block;
    //z-index:-1;
}
#header ul li a:hover{
    background-color:green;
    border-radius:25px;
      
    }
#header ul ul{
    display:none;
    position:absolute;
}
#header ul li:hover > ul
{
    display:block;
}


#slide
{
	width:100%;
	height:100px;
	
}
#slide img
{
	width:100%;
        height:450px;
}
.update
{  
    margin-left:0%;
   position:absolute;
    width:99.5%;
    border:1px solid red;
  background-image: url('images/restaura5.jpg');
    margin-top:0%;
        height:99%;
    text-align: center;
 }  
    
 .updrate table
 {
     //margin-top: 20px;
 }
   
    

